<h1>Book detail</h1>
<div class="container">
	<div class="row">
		<div class="col-md-3">
			<h1>User info</h1>
			<%= render "users/info" ,user:current_user%>
		</div>
		<div class="col-md-9">
			<h1>Books</h1>
			<table class= "table">
				<thead>
					<tr>
						<th></th>
						<th>Title</th>
						<th>Option</th>
					</tr>
				</thead>
					<tbody>
						<tr>
							<td><%= attachment_image_tag(@book_user ,:profile_image, :fill,30,30 ,fallback: "no_image.jpg") %></td>
							<td><%= @book.title %></td>
							<td><%= @book.body %></td>
						</tr>
					</tbody>
			</table>
		</div>
	</div>
</div>
